@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: Arial;
    margin: 0;
}
  
  /* Header/Logo Title */

.header {
    padding: 1;
    text-align: center;
    background-color: #4d97ff;
    color: white;
    font-size: 45px;
}
  

.content {
    padding-left: 10px;
    padding-right: 10px;
}

#tutorialHead{
    text-align: center;
    font-size: 40px;
    padding-top: 0.1;
    font-family: 'Merriweather', serif;
}

#tutorialText{
    /*text-align: left;*/
    text-align: center;
    font-size: 22.5px;
    padding-top: 0.1;
    font-family: Verdana;
}


.content>div{
    flex: 1 1 150px;
    height: fit-content;
    padding-top: 0.1;

}



.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width:100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}


#previousButton{
    float: left !important;
}

#nextButton{
    float: right !important;
}

.navButton{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    border: 1px solid;
    border-color: blur(10px);
    border-radius: 3px;
    color: #721e75;
    font-family: Verdana, sans-serif, fantasy;
    cursor: pointer;
    background-color: white;
    transition: 0.1s;
}
.navButton:hover{background-color: black;}
.navButton:active{background-color: #212121;}
.navButton:hover,.navButton:active{color: white;}
.large{margin: 20px;}